:root {
    --primario: #0040a1;
    --primario-contenedor: #0056d2;
    --sobre-primario: #ffffff;
    --terciario: #005312;
    --terciario-contenedor: #1c6d24;
    --sobre-terciario: #ffffff;
    --superficie: #faf9fc;
    --superficie-contenedor: #efedf1;
    --superficie-contenedor-alta: #e3e2e6;
    --superficie-blanca: #ffffff;
    --texto-variante: #424654;
    --contorno-variante: #c3c6d6;
    --primario-fijo: #dae2ff;
    --sobre-primario-fijo: #001847;
}

body::before,
body::after {
    content: "";
    position: fixed;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    filter: blur(120px);
    z-index: -1;
    pointer-events: none;
}

/*Bola1*/
body::before {
    top: -10%;
    left: -10%;
    background: var(--primario-fijo);
    opacity: 0.5;
}

/*Bol2*/
body::after {
    bottom: -10%;
    right: -10%;
    background: #a3f69c;
    opacity: 0.3;
}

.fuente-titular {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.fondo-decorativo {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    filter: blur(120px);
    pointer-events: none;
}

.entrada-personalizada {
    background-color: var(--superficie-contenedor-alta) !important;
    border: none !important;
    border-radius: 1rem !important;
    padding: 0.9rem 1rem 0.9rem 3.2rem !important;
    transition: all 0.2s ease;
}

.entrada-personalizada:focus {
    box-shadow: 0 0 0 2px var(--primario) !important;
    background-color: var(--superficie-blanca) !important;
}

.contenedor-icono-input {
    position: relative;
}

.contenedor-icono-input .material-symbols-outlined {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #737785;
    z-index: 5;
    transition: color 0.2s;
}

.contenedor-icono-input:focus-within .material-symbols-outlined {
    color: var(--primario);
}